/* 
   body
   ├─header
   │ └─h1
   └─main
     ├─nav#main-menu
     │ └─ul
     │   └─li
     │     └─a
     └─section
       ├─h2
       └─div#choose-character
         ├─div#elephant
         ├─div#penguin
         ├─etc...
 */

/* Colors:
   lighter yellow: #fff18b
   orange: #ff8b00
   light yellow: #ffe94d
   primary yellow: #ffe000
   green: #a2d82b
   primary blue: #0091f4
   light blue: #00c3f7
   lighter blue: #1ae8cf
   dark blue: #004771
   primary red: #f41971

 */

header {
  display: block;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 250px;
  right: 250px;
  height: 150px;
}

header h1 {
  text-align: center;
  color: #ff8b00;
  background-color: #ffe000;
  padding: .5em;
}

main {
  position: fixed;
  z-index: 0;
  background-color: #a2d82b;
  width: 100%;
  height: 100%;
  margin: 0;
}

nav#main-menu ul li {
  list-style-type: none;
  width: 100px;
  height: 100px;
  background-color: #f41971;
  text-align: center;
  margin: 1em;
  box-sizing: border-box;
  position: fixed;
}

nav#main-menu ul li:nth-child(odd) {
  left: 10px;
}

nav#main-menu ul li:nth-child(even) {
  right: 10px;
}

nav#main-menu ul li:nth-child(1),
nav#main-menu ul li:nth-child(2) {
  top:  100px;  
}

nav#main-menu ul li:nth-child(3),
nav#main-menu ul li:nth-child(4) {
  top: 250px;
}

nav#main-menu ul li:nth-child(5),
nav#main-menu ul li:nth-child(6) {
  top: 400px;
}



nav#main-menu ul li a {
  text-decoration: none;
  color: #91001a;
  display: block;
  margin: 0.5em;
  font-weight: bold;
}

section {
  position: fixed;
  top: 125px;
  left: 200px;
  right: 200px;
  bottom: 50px;
  border-color: black;
  border-style: solid;
}

section h2 {
  text-align: center;
  color: #004771;
}
