/* 
   body
   ├─header
   │ └─h1
   └─main
     ├─nav#main-menu
     │ └─ul
     │   └─li
     │     └─a
     └─section
       ├─h2
       └─div#choose-character
         ├─div#elephant
         ├─div#penguin
         ├─etc...
 */


body {
    background-color: lightgrey;
}

header {
 
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
}

nav#main-menu ul li {
    list-style-type: none;
    width: 100px;
    height: 100px;
    background-color: green;
    text-align: center;
    margin: 1em;
    box-sizing: border-box;
}

nav#main-menu ul li a {
    text-decoration: none;
    color: black;
    display: block;
    background-color: yellow;
}
