/* Tic Tac Toe */
/* Sizing */

#tic-tac-toe {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  margin: auto;
  font-size: 5em;
  font-family: sans-serif;
  /*        table-layout: fixed; */
  width: 4em;
  height: 4em;
}
.row {
  /*   width: 4em; */
  display: table-row;
  border-bottom: black solid .1em;
}
.row:last-child {
  border-bottom: none;
}
.cell {
  display: table-cell;
  border-right: black solid .1em;
  vertical-align: middle;
  margin: auto;
  text-align: center;
  width: 1.2em;
  height: 1.2em;
}
.cell:last-child {
  border-right: none;
}

.win {
  color: blue;
}

.lose {
  color: red;
}
